# SPDX-License-Identifier: CC0-1.0

config poemgr 'settings'
        option profile 'mcx3'
        option disabled '0'
        option power_budget '60'

config port 'lan1'
        option name 'lan1'
        option port '1'
        option disabled '0'

config port 'lan2'
        option name 'lan2'
        option port '0'
        option disabled '0'
