# SPDX-License-Identifier: CC0-1.0

config poemgr 'settings'
        option profile 'psx10'
        option disabled '0'
        option power_budget '130'

config port 'lan1'
        option name 'lan1'
        option port '0'
        option disabled '0'

config port 'lan2'
        option name 'lan2'
        option port '1'
        option disabled '0'

config port 'lan3'
        option name 'lan3'
        option port '2'
        option disabled '0'

config port 'lan4'
        option name 'lan4'
        option port '3'
        option disabled '0'

config port 'lan5'
        option name 'lan5'
        option port '4'
        option disabled '0'

config port 'lan6'
        option name 'lan6'
        option port '5'
        option disabled '0'

config port 'lan7'
        option name 'lan7'
        option port '6'
        option disabled '0'

config port 'lan8'
        option name 'lan8'
        option port '7'
        option disabled '0'
